@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #cfcfcf;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-himsi);
}

:root {
  --white: #ffff;
  --black: #000000;
  --blue-himsi: #264685;
  --orange-himsi: #f15c2d;
  --nav-more-option-clr: #264685dc;
  --nav-more-option-hover-clr: #2f59acdc;
  --blue-himsi-bit-lighter: #3865bf;
  --hero-bg-color: #000000a0;
  --border-bottom-nav-clr: #537fd7;

  --hero-bg-image: url("/img/hero-compressed-hd.webp");

  --nav-header-animation: nav 1.25s ease-in-out forwards;
  --logo-header-animation: logo 1.25s ease-in-out forwards;
  --heroBody-text-animation: heroBody 1s ease-in-out forwards;
  --wave-animation: wave 4s ease-in-out infinite;
}

.font-clr-blue {
  color: var(--blue-himsi) !important;
}

.font-clr-orange {
  color: var(--orange-himsi) !important;
}

body {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.nav {
  z-index: 9999;
  position: fixed;
  top: 0;
  background-color: transparent;
  transition: 0.3s ease;
  padding: 30px 160px;
  color: var(--white);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

header.nav.active {
  background-color: var(--white);
  box-shadow: 0px 0px 10px 0px #00000048;
  color: var(--black);
  padding: 20px 180px;
}

.nav nav {
  display: flex;
  gap: 20px;
  color: inherit;
  animation: var(--nav-header-animation);
  -webkit-animation: var(--nav-header-animation);
  transform: translateX(600px);
  -webkit-transform: translateX(600px);
  -moz-transform: translateX(600px);
  -ms-transform: translateX(600px);
  -o-transform: translateX(600px);
  position: relative;
}

.nav nav a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav a:hover {
  color: var(--orange-himsi);
}

header.nav.active nav a:hover {
  color: var(--blue-himsi);
}

#services {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

header.nav.active #ChevronDown-icon {
  fill: var(--black);
  stroke: var(--black);
}

header.nav.active #services:hover #ChevronDown-icon {
  fill: var(--blue-himsi);
  stroke: var(--blue-himsi);
}

#services:hover #ChevronDown-icon {
  fill: var(--orange-himsi);
  stroke: var(--orange-himsi);
}

#ChevronDown-icon {
  fill: var(--white);
  stroke: var(--white);
  stroke-width: 10px;
  width: 15px;
  height: 15px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

#ChevronDown-icon.active {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.services {
  flex-direction: column;
  background-color: var(--orange-himsi);
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
  right: -30px;
  align-items: center;
  display: flex;
  overflow: hidden;
  height: 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 3px 7px 0px black;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  justify-content: center;
  opacity: 0;
}

header.nav .services.active {
  height: 120px;
  bottom: -140px;
  opacity: 1;
}

header.nav.active .services.active {
  height: 120px;
  bottom: -160px;
}

#services.active {
  color: var(--blue-himsi);
}

#services + .services a {
  color: var(--white);
  padding: 10px 30px;
  width: 100%;
  text-align: center;
}

#services + .services a:hover {
  background-color: #00000021;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transform: translateX(-800px);
  -webkit-transform: translateX(-800px);
  -moz-transform: translateX(-800px);
  -ms-transform: translateX(-800px);
  -o-transform: translateX(-800px);
  animation: var(--logo-header-animation);
  -webkit-animation: var(--logo-header-animation);
}

.logo-wrapper h1 {
  color: inherit;
  font-size: 1rem;
  letter-spacing: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo-wrapper h1 span:first-child {
  color: var(--orange-himsi);
}

.logo-wrapper h1 span:last-child {
  color: var(--blue-himsi-bit-lighter);
}

.hero {
  display: flex;
  height: 100dvh;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* ! Kode di bawah ini ga bs work di ios */
  /* ! This code won't work, since iOS uses the hight of the document and not the viewport:  */
  /* background-image: var(--hero-bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; */
}

/* ! Agar di ios bisa work harus gunakan kode di bwh ini */
.hero:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  z-index: -1;
  background: var(--hero-bg-image) center center;
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-body {
  opacity: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--hero-bg-color);
  position: relative;
}

.hero-body h1 span:first-child {
  color: var(--blue-himsi-bit-lighter);
}

.hero-body h1 span:nth-child(2) {
  color: var(--orange-himsi);
}

.hero-body h1 {
  opacity: 0;
  font-size: 5rem;
  color: var(--white);
  animation: var(--heroBody-text-animation);
  -webkit-animation: var(--heroBody-text-animation);
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hero-body p {
  opacity: 0;
  font-size: 1.3rem;
  letter-spacing: 2px;
  color: var(--white);
  animation: var(--heroBody-text-animation);
  -webkit-animation: var(--heroBody-text-animation);
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hero-body button {
  opacity: 0;
  animation: var(--heroBody-text-animation);
  -webkit-animation: var(--heroBody-text-animation);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  width: 70%;
  font-size: 1.2rem;
  padding: 20px;
  background-color: transparent;
  outline: none;
  color: var(--white);
  border: 1px solid var(--white);
  margin-top: 20px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.hero-body button:hover {
  box-shadow: 0px 0px 30px 0px var(--orange-himsi);
  background-color: var(--orange-himsi);
  color: var(--white);
  border-color: var(--orange-himsi);
}

main {
  background-color: white;
  overflow: hidden;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url("/wave.webp");
  background-size: 1000px 100px;
  animation: var(--wave-animation);
  -webkit-animation: var(--wave-animation);
}

.wave#wave0 {
  z-index: 1000;
  opacity: 1;
  background-position-x: 1000px;
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.wave#wave1 {
  z-index: 999;
  opacity: 0.5;
  background-position-x: 300px;
  -webkit-animation-delay: 2.25s;
  animation-delay: 2.25s;
}

.wave#wave2 {
  z-index: 998;
  opacity: 0.2;
  background-position-x: 200px;
  -webkit-animation-delay: 3.25s;
  animation-delay: 3.25s;
}

.wave#wave3 {
  z-index: 997;
  opacity: 0.7;
  background-position-x: 100px;
  -webkit-animation-delay: 4.25s;
  animation-delay: 4.25s;
}

#nav-more-option {
  display: none;
  animation: var(--nav-header-animation);
  -webkit-animation: var(--nav-header-animation);
  transform: translateX(600px);
  -webkit-transform: translateX(600px);
  -moz-transform: translateX(600px);
  -ms-transform: translateX(600px);
  -o-transform: translateX(600px);
}

.xSymbol,
.burgerBtn-icon {
  fill: var(--white);
  display: none;
  cursor: pointer;
}

.logo-wrapper #logo-crop-text {
  display: none;
}

header.nav.active .xSymbol,
header.nav.active .burgerBtn-icon {
  fill: var(--black);
}

#about,
#aspiration,
#himfact,
#bimsi,
#event {
  width: 100%;
  padding-top: calc(40px + 50px);
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#about .left,
#about .right,
#himfact .left,
#himfact .right,
#aspiration .left,
#aspiration .right {
  flex: 1;
  height: 100%;
}

#tagline {
  color: var(--blue-himsi);
  font-family: "Times New Roman", serif;
  font-size: 3rem;
}

#tagline span {
  color: var(--orange-himsi);
  font-family: "Times New Roman", serif;
  font-size: 3rem;
}

.btn-style-1 {
  outline: none;
  border: 2px solid var(--orange-himsi);
  padding: 20px 30px;
  font-size: 1.2rem;
  background-color: transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.btn-style-1:hover {
  background-color: var(--orange-himsi);
}

.btn-style-1:hover a {
  color: var(--white);
}

.btn-style-1 a {
  text-decoration: none;
  color: var(--orange-himsi);
}

#about {
  padding: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#about .right {
  padding: 0 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#about .right p {
  font-size: 1.2rem;
  line-height: 30px;
  text-transform: capitalize;
}

#about .btn-wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  gap: 20px;
}

#about .btn-wrapper button {
  flex: 1;
}

#about .btn-wrapper button:last-child {
  background-color: var(--orange-himsi);
}

#about .btn-wrapper button:last-child a {
  color: var(--white);
}

#about .btn-wrapper button:hover,
#himfact .left button:hover {
  box-shadow: 3px 5px 10px 0px #212121d5;
}

#about .left {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .left img {
  width: 100%;
  height: auto;
}

#himfact .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
}
#himfact .product-wrapper {
  border: 50px solid var(--blue-himsi);
  border-right: none;
  width: 690px;
  height: 690px;
  border-radius: 50%;
  -webkit-border-radius: 50% 0px 0px 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--white);
  position: relative;
  box-shadow: 0px 0px 20px 0px var(--blue-himsi-bit-lighter);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  background-color: #ffe2a7;
}

#himfact .product-wrapper .product-highlight {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 150%;
  transform: translate(-40%, -50%);
  -webkit-transform: translate(-40%, -50%);
  -moz-transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  -o-transform: translate(-40%, -50%);
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  object-fit: contain;
}
#himfact .product-wrapper .img-wrapper {
  width: 120px;
  height: 120px;
  position: absolute;
  border: 10px solid var(--blue-himsi);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
  background-size: contain;
  background-position: center center;
}

#himfact .product-wrapper .img-wrapper.product-1 {
  top: -50px;
  left: 90px;
}

#himfact .product-wrapper .img-wrapper.product-2 {
  top: 70px;
  left: -40px;
}

#himfact .product-wrapper .img-wrapper.product-3 {
  top: 50%;
  left: -90px;
  transform: translateY(-50%);
  background-size: cover;
  background-position: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

#himfact .product-wrapper .img-wrapper.product-4 {
  bottom: 70px;
  left: -40px;
}

#himfact .product-wrapper .img-wrapper.product-5 {
  bottom: -50px;
  left: 90px;
}

#himfact .product-wrapper .img-wrapper:hover {
  box-shadow: 0px 0px 15px 5px var(--orange-himsi);
}

#himfact .product-wrapper .img-wrapper.active {
  box-shadow: 0px 0px 10px 5px var(--orange-himsi);
  border-color: var(--orange-himsi);
}

#himfact .left {
  padding: 100px;
  max-width: 950px;
}

#himfact .left h1 {
  font-size: 5rem;
  letter-spacing: 10px;
  line-height: 100%;
}

#himfact .left h1 span:first-child {
  color: var(--blue-himsi);
  font-family: "Poppins";
}

#himfact .left h1 span:last-child {
  font-family: "Poppins";
  color: var(--orange-himsi);
}

#himfact .left h2 {
  font-size: 1.7rem;
}

#himfact .left p {
  margin-top: 10px;
  font-size: 1.2rem;
  line-height: 30px;
  text-transform: capitalize;
}

#himfact .left p span {
  font-weight: 600;
  color: var(--blue-himsi);
}

#himfact .left p span:last-child {
  color: var(--orange-himsi);
}

.creation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-top: 120px;
}

.creation-wrapper {
  display: flex;
  width: 100%;
  /* border: 1px solid red; */
  justify-content: center;
}

.creation-wrapper video {
  padding: 20px;
  /* border: 1px solid red; */
  width: 100%;
}

.creation-container h1 {
  font-size: 3rem;
  letter-spacing: 5px;
  width: 100%;
  text-align: center;
}

.creation-vid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.creation-vid-wrappervideo::-webkit-media-controls {
  display: none !important;
}

.creation-vid-wrapper h2 {
  font-size: 2rem;
  text-align: center;
}

#bimsi {
  margin-top: 80px;
  height: auto;
}

.bimsi-container {
  width: 100%;
  height: 100vh;
}

.bimsi-wrapper {
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: url(/img/BIMSI.webp) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bimsi-body {
  width: 100%;
  height: 100%;
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 250px;
  color: var(--white);
  background-color: #f15b2dc5;

  /* backdrop-filter: blur(1px); */
}

.bimsi-logo-wrapper {
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.bimsi-logo-wrapper img {
  width: 370px;
  height: auto;
}

.bimsi-wrapper h1 {
  font-size: 3rem;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.bimsi-body p {
  font-size: 1.4rem;
  line-height: 35px;
}

.bimsi-body button {
  border-color: var(--white);
  color: var(--white);
  width: 270px;
  font-size: 1.3rem;
}

.bimsi-body button:hover {
  background-color: var(--white);
  color: var(--orange-himsi);
  box-shadow: 0px 0px 15px 0px var(--white);
}

#event {
  /* border: 1px solid red; */
  height: auto;
  padding-top: 0px;
}

.event-container {
  /* border: 1px solid red; */
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.event-wrapper {
  /* border: 1px solid blue; */
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px 50px;
  gap: 30px;
}

.event-card {
  flex: 1;
  height: 100%;
  /* width: 368px;
  height: 500px; */
  perspective: 1000px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.event-card .logo-event-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: rgba(87, 87, 87, 0.4);
}

.event-card-inner .front .logo-event-wrapper img {
  object-fit: contain;
  width: 40%;
  height: auto;
  cursor: pointer;
  transition: 0.8s ease;
  -webkit-transition: 0.8s ease;
  -moz-transition: 0.8s ease;
  -ms-transition: 0.8s ease;
  -o-transition: 0.8s ease;
}

.event-card .logo-event-wrapper img:hover {
  scale: 1.05;
}

.event-container h1 {
  font-size: 2.7rem;
  letter-spacing: 5px;
  color: var(--blue-himsi);
}

.event-container h1 span {
  color: var(--orange-himsi);
}

.event-container button {
  font-size: 1.2rem;
  color: var(--orange-himsi);
  color: var(--white);
  background-color: var(--orange-himsi);
  border-radius: 0px;
  width: 100%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.event-container button:hover {
  background-color: var(--blue-himsi);
  border-color: var(--blue-himsi);
}

.carousel-ctrl {
  display: none;
}

.carousel-ctrl span {
  background-color: rgb(205, 205, 205);
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.carousel-ctrl span svg {
  fill: var(--white);
}

.chevron {
  width: 20px;
  height: 20px;
}

.chevron-left .chevron {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.event-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.event-card-inner.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.event-card-inner.flip .front .logo-event-wrapper img {
  transition: 0.3s ease;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.event-card-inner .front,
.event-card-inner .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0px 3px 7px 0px #000000b6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.6s ease;
  overflow: hidden;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -o-transition: 0.6s ease;
}

.event-card-inner .back {
  background-color: transparent;
  transform: rotateY(180deg);
  padding: 30px;
}
.event-card-inner .back .desc-event {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.event-card-inner .back .desc-event p {
  height: 293px;
  margin-top: -15px;
  margin-bottom: 15px;
  word-wrap: break-word;
  overflow-y: auto;
  scrollbar-width: thin;
  -webkit-scrollbar-width: thin;
}

.event-card-inner .back .desc-event h1 {
  text-transform: uppercase;
  font-size: 2.3rem;
  letter-spacing: 3px;
  text-align: left;
  overflow: hidden;
  /* border: 1px solid red; */
}
.event-card-inner .back .xSymbol {
  width: 25px;
  height: 25px;
  display: block;
  padding: 3px;
  background-color: var(--orange-himsi);
  fill: var(--white);
  /* border: 1px solid blue; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
}

.event-card .front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#aspiration {
  /* border: 1px solid red;
  position: relative; */
  padding: 0px;
}

#aspiration .left {
  /* border: 1px solid blue; */
}

#aspiration .right {
  /* border: 1px solid green; */
  padding: 20px;
}

#aspiration .right .text-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  /* border: 1px solid red; */
  height: 100%;
  padding: 10px;
}

#aspiration .right .text-wrapper h1 {
  font-size: 3rem;
  font-weight: 800;
}

#aspiration .right .text-wrapper h1 span:first-child {
  color: var(--orange-himsi);
}
#aspiration .right .text-wrapper h1 span:last-child {
  color: var(--blue-himsi);
}

#aspiration .right .text-wrapper h2 {
  font-size: 2rem;
  /* letter-spacing: 3px; */
  font-weight: 700;
}

#aspiration .right .text-wrapper p {
  font-size: 1.2rem;
  padding-right: 70px;
  margin-bottom: 10px;
}

#aspiration .right .text-wrapper button {
  color: var(--orange-himsi);
  width: 500px;
}

#aspiration .right .text-wrapper button:hover {
  color: var(--white);
}

#aspiration .left {
  display: flex;
  justify-content: center;
  align-items: center;
}

#aspiration .left img {
  width: 80%;
  height: auto;
}

#footer {
  position: relative;
  width: 100%;
  background-color: var(--orange-himsi);
  height: 300px;
  /* overflow: hidden; */
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  flex-direction: column;
}

#footer .cloud-footer {
  position: absolute;
  top: -100%;
  height: 100%;
  width: 100%;
}

#footer .top {
  height: 100%;
  width: 100%;
  display: flex;
  /* border: 1px solid white; */
  text-align: center;
  padding: 20px;
}

#footer .top .left {
  flex: 1;
}

#footer .top .right {
  flex: 1;
}

#footer .bottom {
  width: 100%;
  text-align: center;
  border-top: 1px solid var(--white);
  padding: 15px;
}

#footer .bottom p {
  letter-spacing: 3px;
}
